.status-bar {
  display: flex;
  justify-content: space-between;
  margin: 24px 28px 0px 45px;
}

.status-bar_time,
.status-bar_icons {
  font-weight: 700;
}

.status-bar_icons-space {
  padding-left: 5px;
}

.main {
  padding-right: 10px;
}
